.profiles {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-family: "Netflix Sans Light";
  text-align: center;
  width: 50%;
}

.profiles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 50%;
}
